html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 50px; */
  padding-top: 20px;
}
h2, h5{
  margin: 0px;
  padding: 0px;
}
canvas {
  display: block;
}
#container{
  margin-top: 20px;
  margin-bottom: 10px;
}
button{
  margin: 2px;
  border-radius: 2px;
  
  
  outline: none;
  width: 130px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  justify-content: right;
  align-content: right;
}
.sort{
  background-color: grey;
  border:0px solid black;
  border-radius: 5px;
  color: white;
}
.reset{
  background-color: red;
  border:0px solid black;
  border-radius: 5px;
  color: white;
}

.patch-note{
  margin-top: 200px;
}